* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    font-size: 1.3em;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    background-color: rgb(245, 245, 245);
}

#root {
    height: 100%;
}

header,
main,
footer {
    flex-shrink: 0;
}

main {
    padding-top: 200px;
    margin: 0 auto 2em auto;
    max-width: 1100px;
    flex-grow: 1;
}

h2,
h3,
h4,
p,
address,
iframe {
    margin-bottom: 1.5em;
}

p,
ul {
    line-height: 1.4em;
}

/* Style for flash section.  */
/* ------------------------------------------------------------------*/

#flash{
    position: relative;
    background: url('/images/flash.jpg');
    background-size: cover;
    height: 500px;
}
svg{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%; 
    height: 100px;
    display: block;
}

.flash {
    position: absolute;
    top: 17%;
    left: 39%;
    text-align: center;
}

.flash img {
    width: 100px;
}

.flash h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 4em;
    text-shadow: 2px 2px 4px #00000085;
}

/* Style for products.  */
/* ------------------------------------------------------------------*/

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-section img {
    width: 300px;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}

.product {
    margin-bottom: 2em;
    background-color: white;
    border-radius: 11px;
    transition: all 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.product:hover {
    box-shadow: 0px 15px 20px rgba(17, 5, 2, 0.445);
    transform: translateY(-7px);
}

.product p,
.product h3 {
    margin-left: 1em;
}


/* Style for the button "Köp".  */
/* ------------------------------------------------------------------*/
.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
.button.buy {
    width: 12rem;
    height: auto;
    margin-left: 5em;
    margin-bottom: 2em;
}
.button.buy .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}
.button.buy .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.button.buy .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
.button.buy .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.button.buy .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.button:hover .circle {
    width: 100%;
}
.button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
}
.button:hover .button-text {
    color: #fff;
}


/* Style for the form.  */
/* ------------------------------------------------------------------*/

form {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin: 5px 10px 5px 0;
    width: 100%;
    display: inline-block;
}

input,
select,
textarea {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 0.9em;
}

select:focus-within,
option:focus {
    cursor: pointer;
    border: 2px solid #0788ef;
}



input,
select,
textarea {
    width: 15em;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    transition: all 0.3s;
    border-radius: 20px;
    border: 2px solid #31ce8cc4;
}

textarea {
    width: 30em;
    height: 30em;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid #0788ef;
}

input:hover,
textarea:hover,
select:hover {
    background-color: #31ce8cc4;
}

input[type="checkbox"] {
    width: 10%;
}

.showPassword,
.btnSec,
.btnPrimary {
    width: 11em;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 20px;
    color: #3b3a3acf;
    font-size: 0.9em;
    border: 2px solid #31ce8cc4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
}

.btnPosition {
    display: flex;
    justify-content: space-between;
}

.btnSec {
    background-color: rgb(40, 41, 54);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(40, 41, 54);
}

.btnPrimary {
    background: #31ce8cc4;
}

.showPassword:hover,
.btnPrimary:hover,
.btnSec:hover,
.showPassword:focus,
.btnPrimary:focus,
.btnSec:focus {
    box-shadow: 0px 15px 20px rgba(31, 8, 0, 0.685);
    transform: translateY(-7px);
}

.is-invalid,
.is-invalid:focus {
    background-color: #f3aeaec4;
    border: 2px solid #ef2a2ac4;
}

.error {
    color: #e40000;
}


/* Style for footer.  */
/* ------------------------------------------------------------------*/

footer {
    background-color: #0f254c;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

footer p {
    color: white;
    margin-bottom: 0;

}

.social {
    align-self: center;
}

.social a {
    color: white;
    margin-right: 2em;
}


@media only screen and (max-width: 600px){
    main {
        width: 100%;
        margin: 0 auto 2em auto;
        padding: 1em;
    }
}

